*{
  color: white;
  font-family: Helvetica;
}

html{
  font-size: 18px;
}

p{
  font-size: 1rem;
}

.head, .feature-text, .footer{
  background-color: black;
}

.head-content{
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 960px;
}

.head-content img{
  padding: 0.66rem 1rem 0.66rem 0.5rem;
  height: 1.5rem;
}

span{
  font-size: 1rem;
  font-weight: bold;
}

h1{
    font-weight: bold;
    font-size: 2rem;
}

.feature{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
  padding-top: 10rem;
}

.site-content{
    max-width: 960px;
    margin: 0 auto;
    height: 100%;
}

.feature-text{
  width: 20rem;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 9rem;

}

.feature-text span{
  padding: 2rem 0rem 0.25rem 3rem;
}

.feature-text h1{
  padding: 0rem 0rem 2rem 3rem;
}

.navigation{
  background-color: red;
}

.products{
  display: flex;
}


.item-pen, .item-watch, .item-glasses{  background-repeat: no-repeat;
  height: 300px;
  width: 300px;

}


.item-pen{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/secret-agent-supply/resources/images/pen.png);
}

.item-watch{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/secret-agent-supply/resources/images/watch.png);
}

.item-glasses{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/secret-agent-supply/resources/images/glasses.png);
}

.footer{
  height: 200px;
  text-align: left;
}

.footer p{
  padding-top:100px;
}

nav li{
  display: inline-block;
}
